import streamlit as st
import pickle
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import contractions
import gensim
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC